@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #89DBFA;
}

header > h1 {
  text-align: center;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5em;
}

section {
  background-color: #dcfa89c9;
  width: 480px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.171);
}

input {
  width: 50px;
}

#texto {
  width: 80%;
  margin: auto;
}

#texto > p > strong {
  color: #77105c;
}

#texto2 {
  width: 80%;
  margin: auto;
}

#resultado{
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #fa89dc6e;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

#eletro {
  width: 130px;
  margin-left: 30px;
}

#potencia {
  margin-left: 15px;
}

#horasDia {
  margin-left: 71px;
}

#tarifa {
  margin-left: 106px;
}

#diasMes {
  margin-left: 29px;
}

#botoes {
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

img {
  width: 18%;
  margin:auto;
  margin-top: 15px;
  display: flex;
}

footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  text-shadow: 2px 3px #7979791f;
}

/*Configurações personalizadas e animadas dos botões*/

#botaoConfirmar{
  width: 75px;
  margin-right: 3%;
  padding: 8px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  background-color: #faa78996;
  border-color: unset;
  border: thick;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.092);
}

#botaoConfirmar:hover {
  cursor: pointer;
}

#botaoConfirmar:active {
  animation: click 1s forwards;
}

#botaoLimpar {
  width: 75px;
  margin-left: 3%;
  padding: 8px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  background-color: #faa78996;
  border-color: unset;
  border: thick;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.092);
}

#botaoLimpar:active {
  animation: click 1s;
}

#botaoLimpar:hover {
  cursor: pointer;
}

@keyframes click {
  0% {
    padding: 8px;
  }
  50% {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #ff8255;
  }
  100% {
    padding: 8px;
  }
}


@media (max-width: 546px) {
  
  section {
    width: 390px;
    height: 340px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
}
  
  header > h1 {
    font-size: 2em;
  }

  p {
    font-size: 0.8em;
  }

  #texto {
    width: 80%;
    margin: auto;
  }

  #texto2 {
    width: 80%;
    margin: auto;
  }
  
  #resultado{
    font-size: 1em;
  }

  #eletro {
    width: 110px;
    margin-left: 30px;
  }
  
  #potencia {
    margin-left: 17px;
  }
  
  #horasDia {
    margin-left: 62px;
  }
  
  #tarifa {
    margin-left: 89px;
  }
  
  #diasMes {
    margin-left: 28px;
  }
  
  #botoes {
    text-align: center;
    margin: auto;
    padding-top: 15px;
  }
}

@media (max-width: 390px) {
  
  section {
    width: 340px;
    height: 340px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
}
  
  header > h1 {
    font-size: 1.6em;
  }

  p {
    font-size: 0.7em;
  }

  #texto {
    width: 80%;
    margin: auto;
  }

  input {
    font-size: 1em;
  }
   
  #texto2 {
    width: 80%;
    margin: auto;
  }
  
  #resultado{
    font-size: 0.8em;
  }

  #eletro {
    width: 100px;
    margin-left: 30px;
  }
  
  #potencia {
    margin-left: 19px;
  }
  
  #horasDia {
    margin-left: 57px;
  }
  
  #tarifa {
    margin-left: 82px;
  }
  
  #diasMes {
    margin-left: 28px;
  }
  
  #botoes {
    text-align: center;
    margin: auto;
    padding-top: 15px;
  }
}

@media (max-width: 320px) {
  
  section {
    width: 280px;
    height: 310px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
}
  
  header > h1 {
    font-size: 1.6em;
  }

  p {
    font-size: 0.6em;
  }

  footer {
    font-size: 0.6em;
    text-shadow: 1px 1px #7979791f;
  }

  #texto {
    width: 80%;
    margin: auto;
  }

  input {
    font-size: 1em;
  }
   
  #texto2 {
    width: 80%;
    margin: auto;
  }
  
  #resultado{
    font-size: 0.8em;
  }

  #eletro {
    width: 70px;
    margin-left: 30px;
  }
  
  #potencia {
    margin-left: 19px;
  }
  
  #horasDia {
    margin-left: 57px;
  }
  
  #tarifa {
    margin-left: 82px;
  }
  
  #diasMes {
    margin-left: 28px;
  }
  
  #botoes {
    text-align: center;
    margin: auto;
    padding-top: 15px;
  }
}

