@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #89DBFA;
}

header > h1 {
  text-align: center;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5em;
}

section {
  background-color: #dcfa89c9;
  width: 480px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.171);
}

input {
  width: 50px;
}

#texto {
  width: 80%;
  margin: auto;
}

#texto2 {
  width: 80%;
  margin: auto;
}

#resultado {
  font-weight: bold;
  padding: 7px 0 7px 0;
  position: absolute;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

#eletro {
  width: 130px;
  margin-left: 30px;
}

#potencia {
  margin-left: 15px;
}

#horasDia {
  margin-left: 63px;
}

#tarifa {
  margin-left: 88px;
}

#diasMes {
  margin-left: 27px;
}

#botoes {
  width: 50%;
  margin: auto;
  padding-top: 47px;
}

/*Configurações personalizadas e animadas dos botões*/

#botaoConfirmar{
  margin-right: 10%;
  padding: 8px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  background-color: #faa78996;
  border-color: unset;
  border: thick;
}

#botaoConfirmar:hover {
  cursor: pointer;
}

#botaoConfirmar:active {
  animation: click 1s forwards;
}

#botaoLimpar {
  margin-left: 10%;
  margin-right: 10%;
  padding: 8px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  background-color: #faa78996;
  border-color: unset;
  border: thick;
}

#botaoLimpar:active {
  animation: click 1s forwards;
}

#botaoLimpar:hover {
  cursor: pointer;
}

@keyframes click {
  0% {
    padding: 8px;
  }
  50% {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #ff8255;
  }
  100% {
    padding: 8px;
  }
}